{% extends 'base.html' %}
{% load widget_tweaks static %}

 {% block title %} Epione {% endblock %}

 {% block content %}

 <div class="container mx-auto px-8 min-h-screen">
        <div class="max-w-md mx-auto bg-white p-6 shadow-lg rounded-lg mt-10">
            <div class="flex items-center p-4 mb-4 text-2xl text-blue-800 rounded-lg bg-blue-50" role="alert">
                  <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                  </svg>
                  <span class="sr-only">Info</span>
                  <div>
                    <span class="font-medium"> Not microsimulations with these characteristics where found. Try it again </span> .
                  </div>
            </div>
            <div class="text-center mt-4">
                <a href="/" class="px-6 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:ring focus:ring-blue-300">
                    Go back to the main page
                </a>
            </div>
        </div>
</div>

{% endblock %}





